.grid-counter {
  display: grid;
  grid-template-columns: 83% 17%;
  grid-template-rows: 25% 25% 25% 25%;
  height: 100vh;
  width: 100vw;
}

.grid-counter button {
  border: 0;
  padding: 0;
}

.grid-counter > * {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* イジン召喚権 */
.box-summon-background-upper {
  align-items: start;
  background: linear-gradient(#f1aeb5, #ea868f);
  grid-column: 1;
  grid-row: 1 / 2;
}

.box-summon-background-lower {
  align-items: end;
  background: linear-gradient(#ea868f, #e35d6a);
  grid-column: 1;
  grid-row: 2 / 3;
}

.box-summon-value {
  align-items: center;
  font-size: 25vh;
  grid-column: 1;
  grid-row: 1 / 3;
  z-index: 1;
}

.box-summon-value > div > span {
  vertical-align: 10%;
}

.box-summon-plus {
  grid-column: 1;
  grid-row: 1 / 2;
  z-index: 2;
}

.box-summon-minus {
  grid-column: 1;
  grid-row: 2 / 3;
  z-index: 2;
}

/* マリョク配置権 */
.box-charge-background-upper {
  align-items: start;
  background: linear-gradient(#a3cfbb, #75b798);
  grid-column: 1;
  grid-row: 3 / 4;
}

.box-charge-background-lower {
  align-items: end;
  background: linear-gradient(#75b798, #479f76);
  grid-column: 1;
  grid-row: 4 / 5;
}

.box-charge-value {
  align-items: center;
  font-size: 25vh;
  grid-row: 3 / 5;
  grid-column: 1;
  z-index: 1;
}

.box-charge-value > div > span {
  vertical-align: 10%;
}

.box-charge-plus {
  grid-row: 3 / 4;
  grid-column: 1;
  z-index: 2;
}

.box-charge-minus {
  grid-row: 4 / 5;
  grid-column: 1;
  z-index: 2;
}

/* その他 */
.box-reset {
  align-items: center;
  background-color: #0dcaf0;
  font-size: 5vh;
  grid-row: 1 / 5;
  grid-column: 2;
}
